/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 3rem;
    list-style: none;
    text-decoration: none;

}

/* Variables */
:root {
    --main-color: #2288ff;
    --second-color: #192f6a ;
    --text-color: #314862;
    --bg-color: #fff;

    /* Box Shadow */
    --box-shadow: 2px 2px 18px rgb(14 52 54 / 15%) ;
}
img{
    width: 100%;
}
body{
    color: var(--text-color);
}
section{
    padding: 4.5rem 0 3rem;
}
.container{
    max-width: 1068px;
    margin-left: auto;
    margin-right: auto;
}
header{
    display: block;
    width: 100%;
    background: var(--bg-color);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 35px;
}
.logo{
    align-items: center;
    display: flex;
    column-gap: 0.5rem;
    font-size: 1rem;
    font-weight: 700;
    color: var(--text-color);
    text-transform: uppercase;
}
.logo .bx{
    font-size: 24px;
    color: var(--main-color);
}
.Navbar{
    display: flex;
}
.Navbar a{
    padding: 8px 17px;
    color: var(--text-color);
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
}
.Navbar a:hover{
    color: var(--main-color);
}
#menu-icon{
    font-size: 24px;
    cursor: pointer;
    display: none;
}
#menu{
    display: none;
}
.btn{
    padding: 8px 22px;
    background: var(--main-color);
    color: var(--bg-color);
    border-radius: 5rem;
}
.btn:hover{
    background: #3492fd;
}

.head{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
     width: 100%;
     background-image:linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)),url(images/about2.jpg);
      background-position: top;
      background-size: cover ;
      position: relative;
 }
 .text-box{
    text-align: center;
    color: var(--bg-color);
 }

 /* PROPERTIES */
.heading{
    text-align: center;
    margin-bottom: 2rem;
}
.properties .heading span p{
    text-align: center;
    margin-bottom: 2rem;
}
.heading span{
    font-weight: 500;
    color: var(--main-color);
}
.heading h2{
    font-size: 1.7rem;
}
.heading .p{
    font-size: 0.938rem;
}
.properties{
    background: #fbfbfb;
    border-radius: 2rem;
}
.properties-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(240px,auto));
    gap: 3rem;
    padding: 0 50px;
}

.properties-container .box{
    background: var(--bg-color);
    padding: 10px;
    border-radius: 1rem;
    box-shadow: var(--box-shadow);
}
.properties-container .box:hover{
    transform: translateY(-10px);
    transition: 0.5s;
}
.properties-container .box img{
    border-radius: 1rem;
    height: 220px;
    object-fit: cover;
    object-position: center;
}
.properties-container .box img:hover{
    transform: scale(1.04);
}
.properties-container .box h3{
    font-size: 1rem;
    font-weight: 600;
    float: right;
}
.properties-container .box .content{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}
.properties-container .box .content .text h3{
    font-weight: 500;
}
.properties-container .box .content .text p{
    font-size: 0.8rem;
}
.properties-container .box .content .icon{
    display: flex;
    align-items: center;
    column-gap: 1rem;
}
.properties-container .box .content .icon .bx{
    display: flex;
    align-items: center;
    font-size: 20px;
}
.properties-container .box .content .icon span{
    font-size: 12px;
    font-weight: 500;
    margin-left: 4px ;
}
.list li{
    text-align: left;
    justify-content: center;
    list-style: disc;
    
}
.list{
    margin: auto;
    padding-top: 1rem;
    padding-left: 3rem;
}


/* Footer */
.footer{
    background: var(--main-color);
    color: var(--bg-color);
    border-radius: 5rem 0 0 0;
}
.footer-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(240px,auto));
    gap: 2rem;
}
.footer-container h2{
    font-size: 1.7rem;
    font-weight: 500;
}
.footer-box{
    display: flex;
    flex-direction: column;
}
.footer-box h3{
margin-bottom:1rem ;
font-size: 1rem;
font-weight: 400;
}
.footer-box a{
    font-size: 0.8rem;
    color: var(--bg-color);
    font-weight: 400;
    margin-bottom: 0.5rem;
}
.footer-box a:hover{
    color:var(--text-color) ;
}
.footer img{
    height:120px;
    width: 150px;
}
.social a{
    font-size: 20px;
    margin-right: 1rem;
}
.social a:hover{
    color: var(--second-color); 
}
.copyright{
    padding: 20px;
    text-align: center;
    color: var(--bg-color);
    background: var(--main-color);
}













/* RESPONSIVENESS */
@media (max-width:1080px){
    .container{
        margin-left: 1rem;
        margin-right: 1rem;    
    }
}
@media (max-width:880px){
    section{
        padding: 4rem 0 3rem;
    }
    .head{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 250px;
         width: 100%;
         background-image:linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)),url(images/about2.jpg);
          background-position: center;
          background-size: cover ;
          position: relative;
     }
     .list li{
        text-align: left;
        justify-content: center;
        list-style: disc;
    }
    .sizh{
        font-size: 1rem;
    }
    .list{
        margin: auto;
        padding-top: 1rem;
        padding-left: 0.2rem;
    }
    .properties-container{
        grid-template-columns: repeat(auto-fit,minmax(200px,auto));
        gap: 1rem;
        padding: 0 10px;
    }
    .footer-container{
        grid-template-columns: repeat(auto-fit,minmax(200px,auto));
        gap: 1rem;
    }
}
@media (max-width:768px){
    .nav{
        padding: 10px 0;
    }
    #menu-icon{
        display: initial;
        padding: 10px 10px;
        border-radius: 50%;
        color: var(--bg-color);
        background: var(--main-color);
    }
    .Navbar{
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        background: var(--second-color);
        text-align: center;
        clip-path: circle(0% at 100% 1%);
        transition: 0.6s;
    }
    .Navbar a{
        display: block;
        margin: 1rem;
        padding: 20px;
        color: var(--bg-color);
    }
    .Navbar a:hover{
        background: var(--main-color);
        color: var(--bg-color);
        transition: 0.2s;
    }
    #menu:checked ~ .Navbar{
        clip-path: circle(144% at 100% 1%);
    }
    .about-text span{
        font-size: 0.9rem;
    }
    .about-text h1,
    h2{
        font-size: 1.4rem;
    }
}
@media (max-width:638px){
    .about-text p{
        text-align: center;
        font-size: 1rem;
    }
    .list{
        margin-left: 1rem;
    }
    .about-text h1{
        text-align: center;
        
    }
    .about-img{
        order: 2;
    }
}
@media (max-width:442px){
    .home-text{
        padding-left: 14px;
    }
    .home-text h1{
        font-size: 1.7rem;
    }
    .about-text h2,
    .heading h2{
        font-size: 1.2rem;
    }
    .properties-container{
        padding: 0;
    }
    .footer{
      border-radius: 3rem 0 0 0;  
    }
}